@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
    font-family: "bukra-regular" !important;
}



@font-face {
    font-family: 'bukra-bold';
    src: url('./fonts/bukra-bold.woff2') format('woff2'),
         url('./fonts/bukra-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bukra-regular';
    src: url('/fonts/bukra-regular.ttf') format('truetype'),
         url('/fonts/bukra-regular.woff2') format('woff2'),
         url('/fonts/bukra-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#preloader {
    margin: auto;
    position: fixed;
    z-index: 999 !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #C1CC3C 18.00%, #2DA9B0 48.33%, rgba(31, 50, 94, 0.00) 85.24%);
}

.blueFilter:hover {
    filter: invert(10%) sepia(11%) saturate(400) hue-rotate(184deg) brightness(112%) contrast(58%)


}